body {
    background-color: black;
    color: white;
    margin: 0;
}

.main_title {
    font-family: Roboto Mono;
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0 0 10px;
}

.main_title a {
    color: inherit;
}

.main_title a:hover {
    color: #dddddd;
}

.header, .nav {
    width: 100%;
}

.header {
    background-color: #373737;
}

.nav {
    background-color: #252525;
}

.nav_links {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: Roboto Mono;
    color: white;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.nav_links li {
    margin: 0 4em;
}

.nav_links li a {
    text-decoration: none;
    color: inherit;
}

.nav_links li a:hover {
    color: #dddddd
}

.twitter_logo, .instagram_logo {
    height: 50px;
}