{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/film.css') }}">
    <script src="{{ url_for('static', filename='js/film.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="tagline" id="tagline">
        <h2>"Some things were never meant to be discovered"</h2>   
    </div>
        <h3 class="view_text hide" id="view_button">DOCUMENT NO.1E4WGH6LO9 RECOVERED SUCCESSFULLY</h3>
        <h3 style="font-family: Consolas; text-align: center;">------------</h3>
        <h3 class="view_button hide" id="view_text" onclick="on_view_button_click()">VIEW</h3>
        <div class="container">
            <img class="main_image hide" id="main_image" src="{{ url_for('static', filename='img/housewithsign.jpg') }}">
            <div class="text_container hide" id="text_container">
                <p class="synopsis" id="synopsis">On the 27th of February 2004 a child went missing with no trace as to what occurred. Some believed it was simply a kidnapping or an unfortunate incident, but when more of these disappearances occur, it suggests it could be due to a more sinister cause. Watch as the secrets about the true nature of our reality unravels.</p>
                <p class="watch"><b>Watch <span style="color: #fff;"><u>Unreal</u></span> in cinemas<br>on 16/11/2002</b></p>
            </div>
        </div>
    <script>
        film_init();
    </script>
{% endblock %}