{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/film.css') }}">
    <script src="{{ url_for('static', filename='js/film.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="tagline" id="tagline">
        <h2>"Some things were never meant to be discovered"</h2>   
    </div>
    <h3 class="view_text hide" id="view_button">DOCUMENT NO.1E4WGH6LO9 RECOVERED SUCCESSFULLY</h3>
    <h3 style="font-family: Consolas; text-align: center;">------------</h3>
    <h3 class="view_button hide" id="view_text" onclick="on_view_button_click()">VIEW</h3>
    <div class="mainimage_synopsis hide" id="mainimage_synopsis">
        <img class="mainimage" src="{{url_for('static', filename='img/sample.png')}}" alt="sample image">
        <p class="synopsis">Synopsis:<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <script>
        film_init();
    </script>
{% endblock %}