<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unreal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/home.css')}}">
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>    
    {{ JSGlue.include() }}
</head>
<body>
    <h1 class="unrealtitle"><u>Unreal</u></h1>
    <a onclick="on_glitchyload_click()"><img class="glitchyload center" id="glitchyload" src="{{ url_for('static', filename='img/glitchyload.png') }}" alt="glitchy load"></a>    
</body>
</html>